{% extends "taloflash/layout.html" %}

{% block title %} Register {% endblock %}

{% block script %}{% endblock %}

{% block body %}
    <div class="container-lg">
        <h2>Register</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="registerUsernameForm">Username:</label>
                <input type="text" name="username" class="form-control input-blue" id="registerUsernameForm" autocomplete="off">
            </div>
            <div class="mb-3">
                <label class="form-label" for="registerPasswordForm">Password:</label>
                <input type="password" name="password" class="form-control input-blue" id="registerPasswordForm" autocomplete="off">
            </div>
            <div class="mb-3">
                <label class="form-label" for="registerConfirmationForm">Confirm Password:</label>
                <input type="password" name="confirmation" class="form-control input-blue" id="registerConfirmationForm" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-custom-blue">Register</button>
        </form>
    </div>
{% endblock %}