{% extends "taloflash/layout.html" %}
{% load static %}

{% block title %} Search {% endblock %}

{% block script %}{% endblock %}

{% block body %}
    <div class="container-lg">
        <h2>Search</h2>
        <form method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" name="searchQuery" class="form-control input-blue" style="font-size:30px;" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-custom-blue">Search</button>
        </form>
    </div>
{% endblock %}